* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    color: #000000;
    background-color: #ffffff;
}

/* main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} */

/* * {
  outline: 1px solid red;
} */

/* =================== global ===================== */

button{
    color: black;
    background-color: #ffffff;
    border: none;
    height: 33px;
    border-radius: 40px;
    padding: 4px 12px;
    font-size: 15px;
    cursor:pointer;
    /* font-weight: bold; */
}
button:hover{
    background-color: #c3c3c3;
}

.make-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.make-flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1{
    font-size: 40px;
    letter-spacing: -0.8px;
    font-weight: 600;
}
h5{
    font-size: 12px;
    font-weight: 500;
    color: green;
}
h2{
    font-size: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
}
p{
    font-size: 16px;
    color: #3A3A3B;
    line-height: 1.5;
}

/* css var for colors */

/* ======================= nav bar ======================== */

#navbar{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    z-index: 1000; 

    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */

}

.nav-child{
    /* justify-self: center; */
    display: flex;
    align-items: center;
    gap: 4px;

}

.nav-actions button {
    background-color: transparent;
    color: #ffffff;
}
.contact-sales-button {
    color: #ffffff;
    background-color: #ffffff15;
}
.contact-sales-button:hover{
    color: #ffffff;
    background-color: #ffffff15;
}

.nav-actions button:hover{
    color: black;
    background-color: #ffffff13;
}

.start-button{
    border: 2px solid #00000083;
}


/* ========================= hero ============================= */

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  color: #ffffff;
  z-index: 1000;
}

.hero-bg-image{
    position: absolute;
    width:100%;
    z-index: -1;
}

.hero-bg-image img{
    width: 100%;
    z-index: -1;
}

.hero-long-cta{
    margin-top: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    gap: 8px;
    background-color: #01000023;
    font-size: 14px;
    font-weight: 500;
    border-radius: 18px;
    padding-right: 6px;
    padding-left: 6px;
    cursor:pointer;

}

.hero-long-cta p{
    color: #ffffff;
}

.hero-long-cta button{
    background-color: #3F8A62;
    color: #ffffff;
    height: 22px;
    width: 43px;
    font-size: 12px;
    font-weight: 600;
    padding-right: 38px;
}

.hero-long-cta img{
    height: 15px;
    width: 15px;
}

.hero-headline, .hero-sub-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-headline{
    margin-top: 30px;
}
.hero-sub-headline{
    margin-top: 30px;
}

.hero-headline h1{
    font-size:61px;
    font-weight: 600;
    letter-spacing: -1.2px;
}
.hero-sub-headline h3{
    font-weight: 400;
    font-size:18px;
}

.hero-email{
    height: 42px;
    width: 360px;
    background-color: #ffffff34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid #ffffff2b;
    margin-top: 30px;
}
.hero-email form input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    padding-left: 10px;
}
.hero-email form input::placeholder{
    color: #ffffff9c;
    font-size: 15px;
}

.hero-screenshot img{
    margin-top: 96px;
    border-radius: 18px;
    border: 3px solid #ffffff30;
}

/* ============================== brands ========================== */

#brands-showcase{
    margin-top: 100px;
    width: 1024px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 64px 64px;
}

#brands-showcase div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    /* width: 250px; */
    color: red;
} 


/* ================ build for intelligence =============== */

#build-for-intelligence-section{
    margin-top: 200px;
}
.b-for-i-sec-grids{
    margin-top: 48px;
    width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
}

.b-for-i-sec-grids-top{
    height: 535px;
    /* width: 505px; */

    border: 2px solid #0000000b;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 25px;
}

.b-for-i-sec-grids-bottom{
    padding-top: 25px;
    padding-bottom: 10px;
    min-height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #0000000b;
    border-radius: 20px;
    grid-column: 1 / -1;
}

/* ====================== Enterprise-reinvention ================= */ 
#enterprise-reinvention-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F7F7F7;
}

.enterprise-top-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1024px;
}

.enterprise-top-content h1{
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.enterprise-top-content-grids img{
    margin-top: 40px;
    margin-bottom: 26px;
    height: 32px;
    width: 32px;
    fill: green;
}

.enterprise-top-content button{
    height: 39px;
    width: 210px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

.enterprise-image {
    margin-top: 60px;
    position: relative;
    cursor: pointer;
}

.enterprise-image img{
    border-radius: 25px;
     transition: filter 0.3s ease;
}
.enterprise-image:hover img {
    filter: brightness(0.7);
}

.enterprise-image-text-top {
    color: #F7F7F7;
    position: absolute;
    top: 60px;
    left: 60px;
}
.enterprise-image-text-bottom {
    display: flex;
    gap: 71px;
    color: #F7F7F7;
    position: absolute;
    bottom: 70px;
    left: 60px;
}
.enterprise-image p{
    color: #c3c3c3;
}
.enterprise-image h1{
    font-weight: 400;
}
.enterprise-image h2{
    padding-bottom: 25px;
    padding-top: 20px;
}

.enterprise-logos{
    margin-top: 40px2;
    width: 900px;
}
