* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    color: white;
    background-color: #ffffff;
}

/* css var for colors */

/* ======================= nav bar ======================== */

#navbar{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    z-index: 1000; 

    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */

}


.nav-child{
    /* justify-self: center; */
    display: flex;
    align-items: center;
    gap: 4px;

}

button{
    color: black;
    background-color: #ffffff;
    border: none;
    height: 33px;
    border-radius: 40px;
    padding: 4px 12px;
    font-size: 15px;
    cursor:pointer;
    /* font-weight: bold; */
}
button:hover{
    background-color: #c3c3c3;
}

.nav-actions button {
    background-color: transparent;
    color: #ffffff;
}
.contact-sales-button {
    color: #ffffff;
    background-color: #ffffff15;
}
.contact-sales-button:hover{
    color: #ffffff;
    background-color: #ffffff15;
}


.nav-actions button:hover{
    color: black;
    background-color: #ffffff13;
}

* {
  outline: 1px solid red;
}


/* ========================= hero ============================= */

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  color: #ffffff;
  z-index: 1000;
}

.hero-bg-image{
    position: absolute;
    width:100%;
    z-index: -1;
}

.hero-bg-image img{
    width: 100%;
    z-index: -1;
}

.hero-long-cta{
    margin-top: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    gap: 8px;
    background-color: #01000023;
    font-size: 14px;
    font-weight: 500;
    border-radius: 18px;
    padding-right: 6px;
    padding-left: 6px;
    cursor:pointer;

}

.hero-long-cta button{
    background-color: #3F8A62;
    color: #ffffff;
    height: 22px;
    width: 43px;
    font-size: 12px;
    font-weight: 600;
    padding-right: 38px;
}

.hero-long-cta img{
    height: 15px;
    width: 15px;
}

.hero-headline, .hero-sub-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-headline{
    margin-top: 30px;
}
.hero-sub-headline{
    margin-top: 30px;
}

.hero-headline h1{
    font-size:61px;
    font-weight: 600;
    letter-spacing: -1.2px;
}
.hero-sub-headline h3{
    font-weight: 400;
    font-size:18px;
}

.hero-email{
    height: 42px;
    width: 360px;
    background-color: #ffffff34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid #ffffff2b;
    margin-top: 30px;
}
.hero-email form input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    padding-left: 10px;
}
.hero-email form input::placeholder{
    color: #ffffff9c;
    font-size: 15px;
}

.hero-screenshot img{
    margin-top: 96px;
    border-radius: 18px;
    border: 3px solid #ffffff30;
}